<div class="modify-room-container">
  <h2>Modificar Habitación</h2>
  <!-- Selección de tipo de habitación -->
  <div class="room-selector">
    <label for="room-select">Seleccionar Habitación:</label>
    <select id="room-select" [(ngModel)]="selectedRoomId" (change)="onRoomChange()" name="roomSelect">
      <option *ngFor="let room of rooms" [value]="room.roomTypeId">{{ room.name }}</option>
    </select>
  </div>

  <!-- Información de la habitación -->
  <div class="room-info">
    <label for="room-name">Nombre:</label>
    <input id="room-name" type="text" [(ngModel)]="selectedRoom.name" name="roomName" />

    <label for="room-price">Tarifa Diaria:</label>
    <input id="room-price" type="text" [(ngModel)]="selectedRoom.basePrice" name="roomPrice" />
  </div>

  <!-- Descripción de la habitación -->
  <div class="room-description">
    <label for="description-editor">Descripción:</label>
    <textarea id="description-editor" rows="5" [(ngModel)]="selectedRoom.description" name="roomDescription"></textarea>
  </div>

<!-- Imágenes de la habitación -->
<div class="room-images">
  <div class="current-image">
    <label>Imagen actual:</label>
    <img [src]="selectedRoom.roomTypeImageDTO.imageDTO.url" alt="Imagen actual" class="room-img"/>
  </div>
  <div class="current-image " *ngIf="imagePreview">
    <label>Vista previa:</label>
    <img [src]="imagePreview" alt="Vista previa de la imagen" class="room-img"/>
  </div>
</div>

<!-- Botones de acción y subir imagen -->
<div class="action-buttons" style="display: flex; align-items: center; gap: 16px;">
  <button type="button" class="accept-button" (click)="updateRoomType()">Actualizar</button>
  <div>
    <label for="image-upload" style="margin-bottom: 0;">Subir nueva imagen:</label>
    <input id="image-upload" type="file" (change)="onImageUpload($event)" />
  </div>
  <button class="cancel-button">Cancelar</button>
</div>

<div *ngIf="isUploading">Subiendo imagen...</div>

<div *ngIf="uploadedUrls.length">
  <h4>Imágenes guardadas:</h4>
  <ul>
    <li *ngFor="let url of uploadedUrls">
      <a [href]="url" target="_blank">{{ url }}</a>
    </li>
  </ul>
</div>