<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="80" color="primary"></mat-spinner>
</div>


<div *ngIf="!loading" class="rooms-container">
  <h1 class="titulo-como-llegar">{{pageInformation?.pageDTO?.title}} </h1>
  
  <p class="rooms-intro">
    {{pageInformation?.description}}
  </p>

  <div class="rooms-grid">
    <div *ngFor="let room of rooms" class="room-card">
      <div class="room-image">
        <img [src]="room.roomTypeImageDTO.imageDTO.url" [alt]="room.name">
      </div>
      <div class="room-details">
        <h3>{{ room.name }}</h3>
        <p class="room-description">{{ room.description }}</p>
        <div class="room-features">
          <h4>Características:</h4>
          <ul>
            <li *ngFor="let feature of room.features">{{ feature.name }}</li>
          </ul>
        </div>
        <p *ngIf="room.basePrice" class="room-price">
          <strong>Precio por noche:</strong> {{ room.basePrice | currency:'USD':'symbol':'1.2-2' }}
        </p>
      </div>
    </div>
  </div>

</div>
