<div class="content">
  <div class="content-container">

    <div class="text-content">
      <h2>Consultar Disponibilidad de Habitaciones</h2>

      <form class="formulario">
        <div class="form-group">
          <label for="llegada">Fecha de Llegada</label>
          <input type="date" id="llegada" name="llegada">
        </div>

        <div class="form-group">
          <label for="salida">Fecha de Salida</label>
          <input type="date" id="salida" name="salida">
        </div>

        <div class="form-group">
          <label for="habitacion">Tipo de Habitación</label>
          <select id="habitacion" name="habitacion">
            <option disabled selected>Tipo de Habitación</option>
            <option value="1">Estándar</option>
            <option value="2">Junior</option>
            <option value="3">Suite Presidencial</option>
          </select>
        </div>

        <button type="submit">Consultar</button>
      </form>
    </div>

  </div>
</div>
