<div class="content">
  <div class="content-container">

    <div class="text-content">
      <h2>Consultar Disponibilidad de Habitaciones</h2>

      <form [formGroup]="consultForm" class="formulario" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="llegada">Fecha de Llegada</label>
          <input type="date" id="llegada" formControlName="entryDate" [min]="minDate">
        </div>


        <div class="form-group">
          <label for="salida">Fecha de Salida</label>
          <input type="date" id="salida" formControlName="departureDate" [min]="minDate">
        </div>

        <div class="form-group">
          <label for="habitacion">Tipo de Habitación</label>
          <select id="habitacion" formControlName="roomTypeId">
            <option disabled selected>Tipo de Habitación</option>
            <option *ngFor="let opt of roomTypes" [value]="opt.roomTypeId">
              {{opt.name}}
            </option>
          </select>
        </div>

        <button type="submit" [disabled]="consultForm.invalid">Consultar</button>
      </form>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Número de habitación -->
      <ng-container matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef> Número de Habitación </th>
        <td mat-cell *matCellDef="let room"> {{ room.roomNumber }} </td>
      </ng-container>

      <!-- Tipo -->
      <ng-container matColumnDef="roomType">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let room"> {{ room.roomTypeDTO.name }} </td>
      </ng-container>

      <!-- Encabezado y filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <!-- Paginador -->
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
