<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="80" color="primary"></mat-spinner>
</div>

<div  *ngIf="!loading" class="content">
  <div class="content-container">
    <div class="image-placeholder">
      <img
        class="selected-image"
        [src]="selectedImage"
        [alt]="'Imagen seleccionada: ' + selectedImage"
      />
    </div>

    <div class="text-content">
      <h2>{{pageInformation?.subtitle}}</h2>
      <p>{{pageInformation?.description}} </p>
    </div>
  </div>
</div>
