
<div class="content">
  <div class="content-container">
    <div class="image-placeholder">
      <img
        class="selected-image"
        [src]="selectedImage"
        [alt]="'Imagen seleccionada: ' + selectedImage"
      />
    </div>

    <div class="text-content">
      <h2>Bienvenido a The Grand Imperium Hotel & Resort</h2>
      <p>Experimente el lujo y la elegancia en el The Grand Imperium Hotel, donde la comodidad se fusiona con el estilo. Nuestras habitaciones de cinco estrellas están diseñadas para brindar el más alto nivel de servicio y sofisticación. Ya sea que viaje por negocios o por placer, encontrará todo lo necesario para que su estancia sea inolvidable. Explore nuestras comodidades de primera clase, cene en exquisitos restaurantes y disfrute de una hospitalidad inigualable.</p>
    </div>
  </div>
</div>
