<h2>Estado del Hotel Hoy</h2>


<table>
  <thead>
    <tr>
      <th>Numero de Habitacion</th>
      <th>Tipo</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody *ngIf="rooms.length > 0; else sinDatos">
    <tr *ngFor="let room of rooms">
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.roomTypeDTO.name }}</td>
      <td>{{ room.isActive ? 'DISPONIBLE' : 'NO DISPONIBLE' }}</td>
    </tr>
  </tbody>
  <ng-template #sinDatos>
    <tr>
      <td colspan="3">No hay habitaciones disponibles</td>
    </tr>
  </ng-template>
  
</table>

<!-- Icono de guardar -->
<div style="text-align: center; margin-top: 20px;">
  <button class="btn" style="background-color: #e3af4b; color: white;"  (click)="exportarPDF()">
    <i class="fas fa-save me-2"></i> Guardar
  </button>
</div>