
<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="80" color="primary"></mat-spinner>
</div>

<div *ngIf="!loading" class="about-us-container">
  <div class="content">
    <div class="about-us-text">
      <h2 class="titulo-sobre">{{pageInformation?.pageDTO?.title}} </h2>
      <p>
       {{pageInformation?.description}}
      </p>
    </div>
    <h3 class="titulo-galeria">{{pageInformation?.subtitle}}</h3>
    <div class="gallery-container">
      <!-- Imagen seleccionada -->
      <img
        class="selected-image"
        [src]="selectedImage"
        [alt]="'Selected Image ' + selectedImage"
      />

      <!-- Galería de imágenes pequeñas -->
      <div class="image-grid">
        <img
          *ngFor="let img of images"
          [src]="img"
          [alt]="'Image ' + img"
          [class.selected]="img === selectedImage"
          (click)="selectImage(img)"
        />
      </div>
    </div>
  </div>
</div>