<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="60" color="accent"></mat-spinner>
</div>

<div *ngIf="!loading" class="edit-about-us-container">
  <form (ngSubmit)="saveChanges()" #aboutUsForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput [(ngModel)]="pageInformation.pageDTO.title" name="title" required disabled="true"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput [(ngModel)]="pageInformation.description" name="description" rows="4"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Subtítulo</mat-label>
      <input matInput [(ngModel)]="pageInformation.subtitle" name="subtitle" />
    </mat-form-field>

    <!-- Mostrar imágenes actuales -->
    <div class="image-list">
      <div *ngFor="let img of images; let i = index">
        <img [src]="img" alt="Imagen {{ i }}" />
        <button type="button" (click)="removeImage(i)">Eliminar</button>
      </div>
    </div>

    <!-- Agregar nuevas imágenes -->

    <div class="file-upload">
  <input type="file" id="image-upload" accept="image/*" (change)="onImageSelected($event)" style="display: none;">
  <label for="image-upload" class="file-upload-label">
    <i class="fas fa-cloud-upload-alt"></i>
    Seleccionar Nueva Imagen
  </label>
</div>

 <div class="save-button-container">
  <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
</div>
  </form>
</div>


