.admin-home {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  background: url('../../../assets/logo.jpg') no-repeat center center;
  background-size: 60%;
}

.admin-home::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(245, 244, 244, 0.795); /* Overlay blanco semitransparente */
  pointer-events: none;
  z-index: 1;
}

.welcome-section {
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  opacity: 0;
  transform: scale(1.2);
  animation: shrinkIn 1s ease-out forwards, fadeIn 2s ease-in-out forwards;
}

/* El resto igual, no cambia nada */

.greeting h3 {
  font-size: 2.5rem;
  color: #00796b;
  margin-bottom: 15px;
  font-weight: bold;
  animation: colorPulse 3s infinite alternate, slideIn 1.5s ease-out forwards;
}

.greeting p {
  font-size: 1.2rem;
  color: #37474f;
  margin-top: 0;
  font-weight: 400;
  opacity: 0;
  animation: fadeInText 1.5s 1s forwards;
}
.content-oficial{
  padding: 0;
}
@keyframes shrinkIn {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  50% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes colorPulse {
  0% {
    color: #00796b;
  }
  50% {
    color: #FFD700;
  }
  100% {
    color: #4a554cd7;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .welcome-section {
    padding: 30px;
    width: 90%;
    max-width: 400px;
  }

  .greeting h3 {
    font-size: 2rem;
  }

  .greeting p {
    font-size: 1rem;
  }
}
