.sidebar-admin {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to bottom, #ddd, #aaa);
  display: flex;
  flex-direction: column;
  z-index: 2000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);

  &.open {
    transform: translateX(0);
  }

  .sidebar-logo-admin {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #bbb;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .sidebar-menu-admin {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    li {
      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        cursor: pointer;
        display: block;
        padding: 10px;
        border-radius: 5px;

        &:hover {
          text-decoration: underline;
          color: #FFD700;
          background-color: transparent;
        }
      }

      &.active a {
        background-color: transparent;
        font-weight: bold;
        color: #FFD700;
        text-decoration: underline;
      }
    }

    .logout {
      margin-top: auto;
      background-color: #d9a55c;
      color: black;
      padding: 6px 12px;
      font-weight: bold;
      border-radius: 6px;
      width: fit-content;
      cursor: pointer;

      a {
        color: black;
        text-decoration: none;
        display: block;
      }
    }
  }

  @media (max-width: 768px) {
    transform: translateX(-100%);

    &.open {
      transform: translateX(0);
    }
  }
}

.sidebar-toggle-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.8rem;
  z-index: 3000;
  cursor: pointer;
}
@media (min-width: 769px) {
  .sidebar-toggle-btn {
    display: none;
  }
}
