<nav class="sidebar-admin" [class.open]="isMenuOpen">
  <div class="sidebar-logo-admin">
    <span>The Grand Imperium Hotel & Resort</span>
  </div>

  <!-- Menú vertical estático sin enlaces -->
  <ul class="sidebar-menu-admin">
    <li [class.active]="activePageName === 'home'">Home</li>
    <li [class.active]="activePageName === 'modificar'">Modificar Páginas</li>
    <li [class.active]="activePageName === 'reservaciones'">Listado de reservaciones</li>
    <li [class.active]="activePageName === 'habitaciones'">Administrar habitaciones</li>
    <li [class.active]="activePageName === 'estado-hotel'">Ver estado del hotel hoy</li>
    <li [class.active]="activePageName === 'disponibilidad'">
      <a routerLink="/admin/booking" routerLinkActive="router-link-active" class="button">Consultar
        disponibilidad de habitaciones</a>
    </li>
    <li [class.active]="activePageName === 'publicidad'">Publicidad</li>
    <li *ngIf="isAuthenticated()" class="logout" (click)="logout()">Log out</li>
  </ul>
</nav>
