<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="80" color="primary"></mat-spinner>
</div>
<div *ngIf="!loading" class="facilities-container">
  <h1 class="titulo-facilidades">{{pageInformation?.pageDTO?.title}} </h1>

  <p class="facilities-intro">
    {{pageInformation?.description}}
  </p>

  <div class="facilities-grid">
      <div *ngFor="let facility of facilities" class="facility-card">
        <div class="facility-image">
          <img [src]="facility.imageUrl" [alt]="facility.name">
        </div>
        <div class="facility-details">
          <h3>{{ facility.name }}</h3>
          <p>{{ facility.description }}</p>
          <div class="facility-features">
            <h4>Características:</h4>
            <ul>
              <li *ngFor="let feature of facility.features">{{ feature }}</li>
            </ul>
          </div>
          <p *ngIf="facility.schedule" class="facility-schedule">
            <strong>Horario:</strong> {{ facility.schedule }}
          </p>
        </div>
      </div>
    </div>
  </div>