/* You can add global styles to this file, and also import other style files */

html, body {  height: 100%;
    margin: 0;
    padding: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#app-hotel {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-oficial {
    flex: 1; // Empuja el footer hacia abajo
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* para centrarlo verticalmente */
  }