.navbar-usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(to right, #ddd, #aaa);
  position: relative; // Importante para menú en móviles
  z-index: 2000; // Asegura que el navbar esté por encima de otros elementos

  .navbar-logo-usuario {
    font-size: 1.3rem;
    font-weight: bold;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .navbar-menu-usuario {
    list-style: none;
    display: flex;
    gap: 20px;

    li {
      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          text-decoration-color: #FFD700;
          color: #FFD700;
        }
      }
    }

    li.active a {
      text-decoration: underline;
      color: #FFD700;
      font-weight: bold;
    }
  }

  .navbar-actions-usuario {
    display: flex;
    align-items: center;
    gap: 10px;

    .button-tickets {
      background: #d9a55c;
      color: black;
      padding: 8px 15px;
      border: none;
      cursor: pointer;
      font-weight: bold;
      border-radius: 5px;

      &:hover {
        background: #b8863b;
      }
    }
  }

  // Botón hamburguesa
  .boton-hamburguesa {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
  }

  // Responsive para móviles
  @media (max-width: 768px) {
    .boton-hamburguesa {
      display: block;
    }

    .navbar-menu-usuario {
      position: absolute;
      top: 89px;
      right: 0;
      width: 100%;
      background: #ddd;
      flex-direction: column;
      text-align: center;
      gap: 15px;
      padding: 20px;
      display: none;
      transition: all 0.3s ease-in-out;
    }

    .navbar-menu-usuario.active {
      display: flex;
    }

    .navbar-menu-usuario li.active a {
      text-decoration: underline;
      color: #FFD700;
      font-weight: bold;
    }
  }
}
