<nav class="navbar">
  <div class="navbar-logo"><a routerLink="" (click)="closeMenu()">The Grand Imperium | Hotel & Resort</a></div>



  <!-- Menú -->
  <ul class="navbar-menu"  [class.active]="isMenuOpen">
    <li><a routerLink="/rooms" (click)="closeMenu()">ROOMS</a></li>
    <li><a routerLink="/experiences" (click)="closeMenu()">EXPERIENCES</a></li>
    <li><a routerLink="/location" (click)="closeMenu()">LOCATION</a></li>
    <li><a routerLink="/facilities" (click)="closeMenu()">FACILITIES</a></li>
  </ul>

  <div class="navbar-actions">
    <button class="book-tickets">BOOK TICKETS</button>
  </div>

    <!-- Botón hamburguesa -->
    <button class="hamburger" aria-label="Toggle menu" (click)="toggleMenu()">
      <i class="fa-solid" [class.fa-bars]="!isMenuOpen" [class.fa-times]="isMenuOpen"></i>
    </button>
</nav>